Python is an interpreted, interactive, object-oriented, and high-level, general-purpose programming language. Professionally Python is great for backend development, and automation, but works excellent for data analysis, machine learning, artificial intelligence, and scientific computing.

Displaying a <b>Hello World</b> or a sample text as output any programmer does after setting up their environment for the first time.

In [1]:
print("Hello World, my name is Kwesi and I am 32 years old!")

Hello World, my name is Kwesi and I am 32 years old!

print('Hello World')

## More printing options

In [2]:
name = "Moses"
age = 400

In [3]:
age2 = "400"

In [4]:
age + 2

402

In [5]:
age2 + str(2)

'4002'

In [6]:
age2 * 5

'400400400400400'

In [7]:
pip install pandoc

Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Requirement already satisfied: pandoc in c:\users\quoph\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (2.3)
Requirement already satisfied: plumbum in c:\users\quoph\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from pandoc) (1.8.2)
Requirement already satisfied: ply in c:\users\quoph\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from pandoc) (3.11)
Requirement already satisfied: pywin32 in c:\users\quoph\appdata\roaming\jupyterlab-desktop\jlab_server\lib\site-packages (from plumbum->pandoc) (304)
Note: you may need to restart the kernel to use updated packages.

In [8]:
print('Hello World, my name is',name,"and I am",age,"years old!")

Hello World, my name is Moses and I am 400 years old!

In [9]:
print('Hello World, my name is {} and I am {} years old!'.format(name,age))

Hello World, my name is Moses and I am 400 years old!

In [10]:
print(f"Hello World, my name is {name} and I am {age} years old!")

Hello World, my name is Moses and I am 400 years old!

## Variables and data types
When we declare a variable in other programming languages like Java, C, C++, we declare the data type of the variable such as int, string, float, and so on. But in Python, it internally identifies the type of the variable based on data assigned to it.

In [11]:
type(name)

str

In [12]:
type(age)

int

In [13]:
weight = 65.0

In [14]:
male = True

In [15]:
type(weight)

float

In [16]:
type(male)

bool

Generally, in programming, the data type is an important concept. Variables store data of different types. Python has the following data types inbuilt by default, and in Python, every variable is considered as an object.

## Strings
Strings are immutable data types in Python, and they get replaced every time after a string operation is done. One can use single or double quotes to represent strings.

In [17]:
data = 'hello world, welcome to python programming'

In [18]:
data.capitalize()

'Hello world, welcome to python programming'

In [19]:
data.upper()

'HELLO WORLD, WELCOME TO PYTHON PROGRAMMING'

In [20]:
data.lower()

'hello world, welcome to python programming'

In [21]:
len(data)

42

## Integer and float

In [22]:
num1 = 30
num2 = 13

In [23]:
# summing two numeric variables
num_sum = num1 + num2

In [24]:
print(num_sum)

43

In [25]:
# subtracting two numeric variables
diff = num1 - num2
print(diff)

17

In [26]:
# multiplying two numeric variables
prod = num1 * num2
print(prod)

390

In [27]:
# dividing two numeric variables
div = num1 / num2
print(div)

2.3076923076923075

In [28]:
# doing integer division with two numeric variables
int_div = num1 // num2
print(int_div)

2

In [29]:
# return the remainder of the two numeric variable divison
remainder = num1 % num2
print(remainder)

4

In [30]:
# calculate the exponent of a value
3 ** 2

9

In [31]:
num1 ** 2

900

In [32]:
num2 ** 3

2197

In [33]:
# import math library
import math

In [34]:
# finding the square root of a value
math.sqrt(age)

20.0

## List
A List is a container that can hold homogeneous, heterogeneous data types such as string, int, float, and so on. Elements in the list are comma-separated and are enclosed in square brackets. We can perform operations such as finding its length, slicing, updating, deleting the contents of the list.

In [35]:
# Heterogenous list elements
ghAfcon = ['Football event', 'African cup', 1963, 1965, 1978, 1982, 7.4, 7.8, 11.16, 12.21]

In [36]:
# homogenous list elements
election_years = [1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020]

In [37]:
len(ghAfcon)

10

In [38]:
len(election_years)

8

## List slicing

In [39]:
# slicing the last item in the ghAfcon list
ghAfcon[len(ghAfcon) - 1]

12.21

In [40]:
ghAfcon[-1]

12.21

In [41]:
ghAfcon[5]

1982

In [42]:
# using negative indexing to extract a particular list element
ghAfcon[-5]

1982

In [43]:
# extracting a range of values
ghAfcon[0:2]

['Football event', 'African cup']

In [44]:
# extracting a range of values from the middle of the list
ghAfcon[2:6]

[1963, 1965, 1978, 1982]

In [45]:
# extracting a range of values towards the end of the list
ghAfcon[6:]

[7.4, 7.8, 11.16, 12.21]

In [46]:
ghAfcon[:2]

['Football event', 'African cup']

In [47]:
# print out original list order
print(ghAfcon)

['Football event', 'African cup', 1963, 1965, 1978, 1982, 7.4, 7.8, 11.16, 12.21]

In [48]:
# print out list in reverse order using negative indexing
print(ghAfcon[::-1])

[12.21, 11.16, 7.8, 7.4, 1982, 1978, 1965, 1963, 'African cup', 'Football event']

In [49]:
# update list elements by append function
ghAfcon.append("World cup")

In [50]:
print(ghAfcon)

['Football event', 'African cup', 1963, 1965, 1978, 1982, 7.4, 7.8, 11.16, 12.21, 'World cup']

In [51]:
len(ghAfcon)

11

In [52]:
ghAfcon.remove('World cup')

In [53]:
print(ghAfcon)

['Football event', 'African cup', 1963, 1965, 1978, 1982, 7.4, 7.8, 11.16, 12.21]

In [54]:
ghAfcon[2] = "World cup"

In [55]:
print(ghAfcon)

['Football event', 'African cup', 'World cup', 1965, 1978, 1982, 7.4, 7.8, 11.16, 12.21]

In [56]:
ghAfcon.insert(3, 1963)

In [57]:
print(ghAfcon)

['Football event', 'African cup', 'World cup', 1963, 1965, 1978, 1982, 7.4, 7.8, 11.16, 12.21]

## Tuples
Tuples are similar to a list, but they are enclosed in parenthesis (). Tuples are immutable, meaning we can create a tuple, but we cannot add, update, or delete elements from it.

In [58]:
# creating a tuple of Ghana's election year
election_years_tuple = (1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020)

In [59]:
len(election_years_tuple)

8

In [60]:
# slicing (extracting) from tuple
election_years_tuple[2:]

(2000, 2004, 2008, 2012, 2016, 2020)

## Dictionary
Dictionary is more like a container of key-value pairs stored using hash mapping. Dictionaries are editable and indexed elements enclosed in curly braces.

In [61]:
# declaring dictionary object
ghPresidents = {
    "JJR": "1992 - 2000",
    "JAK": "2000 - 2008",
    "JEAM": "2008 - 2012",
    "JM": "2012 - 2016",
    "NADAA": "2016 - 2024"
}

In [62]:
# show the length/size of the dictionary
len(ghPresidents)

5

In [63]:
# extracting the key elements of a dictionary
print(ghPresidents.keys())

dict_keys(['JJR', 'JAK', 'JEAM', 'JM', 'NADAA'])

In [64]:
# extracting the value elements of a dictionary
print(ghPresidents.values())

dict_values(['1992 - 2000', '2000 - 2008', '2008 - 2012', '2012 - 2016', '2016 - 2024'])

In [65]:
# extracting a particular from the dictionary based on the key
ghPresidents['JAK']

'2000 - 2008'

In [66]:
# updating dictionary elements
ghPresidents['AD'] = '2024 - 2028'

In [67]:
ghPresidents

{'JJR': '1992 - 2000',
 'JAK': '2000 - 2008',
 'JEAM': '2008 - 2012',
 'JM': '2012 - 2016',
 'NADAA': '2016 - 2024',
 'AD': '2024 - 2028'}

## Pandas
Data analysis is involves organizing, cleaning, restructuring, merging, and visualizing the data. Generally, data may or may not be in the desired format, and this data needs to be processed like changing the data types, fill the blank or null values, joining the datasets to make the data much more meaningful, deleting redundant or unnecessary content and much more. How can we do this in a quick, efficient, and programmatic manner? The answer is PANDAS.

Pandas provide a rich set of functions and attribute to process the data. Pandas is an open-source core python library for data science. It provides high performance, easy-to-use data structures. Pandas is built on top of numpy, which helps to speed up the computation process. The integration of pandas, along with scipy and numpy, does help in statistical analysis and computation, whereas matplotlib and seaborn do help with the visualization of the data.

## Data structures in Pandas
Pandas provide an extensive set of data structures for working with and manipulating data and performing various statistical, time-series, and financial analysis. The two primary data structures in pandas are Series and DataFrames.

## Series
A Series is a one-dimensional numpy array object. Considering a dataset with rows and columns, the series is one column of label information. A pandas series can be created from a Python list, tuple, or dictionary, as shown in the following section. Remember though that Python list can carry heterogeneous types of data such as string, integer, float, and so on. But care should be taken to ensure the datatypes of the list (to be transformed into a pandas series) are either integer, string, or float, but not the mix.

## Creating a series object from strings
We can create a series object of type strings using a python list. In pandas, data types are referred to as dtype. Here the dtype is represented as an object, which means strings in Python.

In [1]:
# import the pandas library
import pandas as pd

In [2]:
# create python string list
subjects = ['biology', 'chemistry', 'physics', 'mathematics']

In [3]:
subjects

['biology', 'chemistry', 'physics', 'mathematics']

In [4]:
type(subjects)

list

In [5]:
pd_subjects = pd.Series(subjects)

In [6]:
pd_subjects

0        biology
1      chemistry
2        physics
3    mathematics
dtype: object

In [7]:
type(pd_subjects)

pandas.core.series.Series

## Creating a series object from integer

In [8]:
# python integer list
numbers = [10, 20, 30, 40, 50, 60]

In [9]:
# create pandas series of integer
pd_numbers = pd.Series(numbers)

In [10]:
pd_numbers

0    10
1    20
2    30
3    40
4    50
5    60
dtype: int64

In [11]:
type(pd_numbers)

pandas.core.series.Series

## Creating series from dictionary

In [12]:
# python dictionary object
py_dict = {'Name': 'Kwame', 'Age': 32, 'City': 'Tamale'}

In [13]:
# converting python dictionary to pandas series
pd_dict = pd.Series(py_dict)

In [14]:
pd_dict

Name     Kwame
Age         32
City    Tamale
dtype: object

## Series attributes
Attributes deliver information about the objects. They do not manipulate the objects but rather provide a view on the object. We can view a series shape, values, and index.

month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December' <br>
day_length = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]]

In [17]:
# python list of month
month = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
day_length = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

In [18]:
day_length

[31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]

In [19]:
sMonth = pd.Series(month)
sDay = pd.Series(day_length)

In [21]:
sDay

0     31
1     28
2     31
3     30
4     31
5     30
6     31
7     31
8     30
9     31
10    30
11    31
dtype: int64

In [22]:
# to get the dimension of a series
sMonth.shape

(12,)

In [23]:
# display the index info of the series
sMonth.index

RangeIndex(start=0, stop=12, step=1)

In [24]:
pd_dict.index

Index(['Name', 'Age', 'City'], dtype='object')

In [25]:
pd_dict.values

array(['Kwame', 32, 'Tamale'], dtype=object)

In [26]:
sMonth.values

array(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December'],
      dtype=object)

In [27]:
# extract the first few information contained in a series
sMonth.head()

0     January
1    February
2       March
3       April
4         May
dtype: object

In [29]:
# extract a specific number of first few info contained in a series
sMonth.head(7)

0     January
1    February
2       March
3       April
4         May
5        June
6        July
dtype: object

In [30]:
# extract the last few info rows of information contained in a series
sMonth.tail()

7        August
8     September
9       October
10     November
11     December
dtype: object

## Series methods
Methods are enclosed in parenthesis. They perform operations on the Series objects. Methods such as count, min, max, mean, variance, etc exists for series manipulation.

In [31]:
# display the number elements (counts) contained in a series
sMonth.count()

12

In [32]:
pd_dict.count()

3

In [33]:
# getting the minimum value in the series
sDay.min()

28

In [34]:
sMonth.min()

'April'

In [35]:
sMonth.max()

'September'

In [37]:
# get the maximum value in the series
sDay.max()

31

In [38]:
# get the average value in the series
sDay.mean()

30.416666666666668

In [40]:
# get the dispersion/variance/standard deviation of the series
sDay.std()

0.9003366373785202

## DataFrames
DataFrames are the most used and popular objects of pandas. As earlier indicated, series are one-dimensional arrays (list), whiles dataframes are two-dimensional arrays (table). Data is aligned in a tabular structure, more like rows and columns. In general, a dataframe is a structure of series objects. Just like series objects, we can also create a dataframe object using a list, dictionary, list of lists, lists of dictionaries.

To create a pandas dataframe, We pass the list (or tuple, dictionary, etc) as a parameter to the pandas dataframe function, which creates a dataframe object.

In [73]:
# set up a pandas dataframe (table of information)
monthTable = pd.DataFrame()

In [44]:
monthTable['Month'] = sMonth

In [45]:
monthTable

        Month
0     January
1    February
2       March
3       April
4         May
5        June
6        July
7      August
8   September
9     October
10   November
11   December

In [46]:
monthTable['Day length'] = sDay

In [47]:
monthTable

        Month  Day length
0     January          31
1    February          28
2       March          31
3       April          30
4         May          31
5        June          30
6        July          31
7      August          31
8   September          30
9     October          31
10   November          30
11   December          31

In [48]:
sRainy = pd.Series(['No', ' No', 'Yes', 'Yes', 'No','Yes','Yes','Yes','No','No','Yes','No'])

In [49]:
monthTable['Rainy?'] = sRainy

In [50]:
monthTable

        Month  Day length Rainy?
0     January          31     No
1    February          28     No
2       March          31    Yes
3       April          30    Yes
4         May          31     No
5        June          30    Yes
6        July          31    Yes
7      August          31    Yes
8   September          30     No
9     October          31     No
10   November          30    Yes
11   December          31     No

In [51]:
# get the dimension of the dataframe(table) -----> dimension is indicates #rows by #columns (row X column)
monthTable.shape

(12, 3)

In [52]:
# getting the first few rows of the dataframe
monthTable.head()

      Month  Day length Rainy?
0   January          31     No
1  February          28     No
2     March          31    Yes
3     April          30    Yes
4       May          31     No

In [53]:
# getting last few rows of the dataframe
monthTable.tail()

        Month  Day length Rainy?
7      August          31    Yes
8   September          30     No
9     October          31     No
10   November          30    Yes
11   December          31     No

In [54]:
# getting the index of the dataframe
monthTable.index

RangeIndex(start=0, stop=12, step=1)

In [55]:
monthTable.values

array([['January', 31, 'No'],
       ['February', 28, ' No'],
       ['March', 31, 'Yes'],
       ['April', 30, 'Yes'],
       ['May', 31, 'No'],
       ['June', 30, 'Yes'],
       ['July', 31, 'Yes'],
       ['August', 31, 'Yes'],
       ['September', 30, 'No'],
       ['October', 31, 'No'],
       ['November', 30, 'Yes'],
       ['December', 31, 'No']], dtype=object)

In [57]:
# slicing the 'April' row from the dataframe
monthTable.values[3]

array(['April', 30, 'Yes'], dtype=object)

In [60]:
# slicing information about 'April, May, June, July and August'
monthTable.values[3:8]

array([['April', 30, 'Yes'],
       ['May', 31, 'No'],
       ['June', 30, 'Yes'],
       ['July', 31, 'Yes'],
       ['August', 31, 'Yes']], dtype=object)

In [64]:
# slicing information from the day column
monthTable.values[:,1]

array([['January', 31, 'No']], dtype=object)

In [66]:
# slicing the day length for February
monthTable.values[1][2]

' No'

In [70]:
# getting the columns in a dataframe
monthTable.columns

RangeIndex(start=0, stop=0, step=1)

## Numpy
Numpy is a Python package used for scientific and numerical computing. Numpy arrays are similar to list data type in Python but have a different n-dimensional array object. Numpy stores only homogeneous data types, whereas the list can store homogeneous and heterogeneous data type values. Numpy supports multidimensional array objects and provides various functions and attributes to work with them.

In the real world, you will deal with large datasets with numerical columns. Many times you will need to tweak this numerical data according to certain requirements, such as performing some mathematical or statistical operations. Performing these operations using Python list is easy, but in the background, these are tedious, time consuming and not advised to do. This is where numpy arrays comes to the rescue. Lists and numpy arrays look alike, but numpy arrays are more powerful. We will explore the difference between lists and numpy arrays, and various numerical and statistical operations, functions, and attributes for working with numpy arrays.

## Ndarray
Then numpy library has one main core object, ndarray. It is defined using the array function. Just like the python objects, string, integer, float, etc; ndarray is also an object of numpy, which stands for ndimensional array

In [71]:
# import numpy library
import numpy as np

In [74]:
# creating numpy number array
np_number = np.array(day_length)

In [76]:
type(np_number)

numpy.ndarray

In [87]:
# create numpy number arrays
a = np.array([1, 2, 3, 4])
b = np.array([5, 6, 20, 8])

In [88]:
# add the arrays (element-wise)
a + b

array([ 6,  8, 23, 12])

In [89]:
# subtract array elements
a - b

array([ -4,  -4, -17,  -4])

In [90]:
b - a

array([ 4,  4, 17,  4])

In [91]:
# multiply the array elements
a * b

array([ 5, 12, 60, 32])

In [92]:
# divide the array elements
a / b

array([0.2       , 0.33333333, 0.15      , 0.5       ])

In [93]:
b / a

array([5.        , 3.        , 6.66666667, 2.        ])

In [94]:
# integer division
a // b

array([0, 0, 0, 0])

In [95]:
b // a

array([5, 3, 6, 2])

In [97]:
# exponent (number raised to a power)
b ** a

array([   5,   36, 8000, 4096])

In [101]:
c = np.array([1, 2, 3, 0, 0])
d = np.array([5, 6, 20, 8, 4])

In [102]:
c + d

array([ 6,  8, 23,  8,  4])

Numpy multidimensional homogeneous arrays can be of various sizes, such as (2x2, 3x6, 4x4, etc.). Numpy arrays are fixed in size, meaning once you define their size at the time of creation, it cannot be changed, however, the sizes of python list can grow or shrink in size.

## Numpy operations

## Statistical operations with numpy

In [103]:
# Creating a numpy array
npData = np.array([
    [31, 28, 31],
    [30, 31, 30],
    [31, 31, 30],
    [31, 30, 31]
])

In [104]:
npData

array([[31, 28, 31],
       [30, 31, 30],
       [31, 31, 30],
       [31, 30, 31]])

In [105]:
# check the dimension of the data
npData.shape

(4, 3)

## Array-wise manipulation

In [ ]:
# get the average of the numpy array

In [106]:
np.mean(npData)

30.416666666666668

In [107]:
# get the minimum value
np.min(npData)

28

In [108]:
# get the maximum value
np.max(npData)

31

In [109]:
# get the standard deviation of the data
np.std(npData)

0.8620067027323834

In [110]:
# get the median value of the data
np.median(npData)

31.0

In [111]:
npData

array([[31, 28, 31],
       [30, 31, 30],
       [31, 31, 30],
       [31, 30, 31]])

In [112]:
# get the summation of the data
np.sum(npData)

365

In [113]:
# get the product of the data
np.product(npData)

-2109573568

## Row-wise / Column-wise operations
In the previous examples, we performed operations on the entire numpy array. How about finding the max, min values for each row, and column. To understand this, we need to know about Shape and Axis. The shape attribute returns the total number of rows and columns of a numpy array, whereas axis defines the row-level or column level control. <b>Axis = 0</b> for column-wise operation, and <b>Axis = 1</b> for row-wise operations.

In [115]:
npData

array([[31, 28, 31],
       [30, 31, 30],
       [31, 31, 30],
       [31, 30, 31]])

In [116]:
# get summation values according row elements (axis=1)
np.sum(npData, axis=1)

array([90, 91, 92, 92])

In [117]:
# get summation values according column elements (axis=0)
np.sum(npData, axis=0)

array([123, 120, 122])

In [118]:
# get the standard deviation values for column and row
np.std(npData, axis=0)

array([0.4330127 , 1.22474487, 0.5       ])

In [119]:
# get the mean values for the column
np.mean(npData, axis=0)

array([30.75, 30.  , 30.5 ])

## Reshaping
Reshaping means changing the shape of numpy array. Numpy uses the reshape method to give a new shape to the array without changing the data.

In [120]:
a

array([1, 2, 3, 4])

In [121]:
b

array([ 5,  6, 20,  8])

In [124]:
x1 = np.array([[1,2,3,4],
               [5,6,7,8]])

In [125]:
x1

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [126]:
x1.shape

(2, 4)

In [148]:
# reshaping the data to change the dimension
x2 = x1.transpose()

In [149]:
x2

array([[1, 5],
       [2, 6],
       [3, 7],
       [4, 8]])

In [130]:
# reshaping the x1 array into a column (or vertical) list
x3 = x1.reshape(8,1)

In [131]:
x3

array([[1],
       [2],
       [3],
       [4],
       [5],
       [6],
       [7],
       [8]])

In [132]:
# reshaping the x1 array into a row (or horizontal) list
x4 = x1.reshape(1,8)

In [133]:
x4

array([[1, 2, 3, 4, 5, 6, 7, 8]])